body {
	width: 100%;
	height: 100%;
	align-items: center;
	/* background-color: aqua; */
}

#root {
	width: 100%;
	height: 100%;
	align-items: center;
}

#todo-input-container {
	width: 500px;
	height: 80px;
	border: 2px solid salmon;
}
#todo-list-container {
	width: 500px;
	height: 80px;
	border:2px solid sandybrown;
}

.todo-item{
	width: 100%;
	margin: 5px;
	border: 0 0 0 1px solid blue;
	height: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
}